cannot set client_id & client_secret in calls to OAuth2::authenticate()

For a grant_type='password', I don't see a way to pass a client_id and client_secret, alongside username and password, per RFC 6749 section 2.3.1. This is preventing me from interfacing with a node-oauth2-server, because an Authorization header is not being sent, or no client_id/client_secret fields in the JSON payload.

Note that the GooglePlus Authenticator in examples/7-multiple-external-providers.html has to provide these fields, but if I'm not mistaken this support is needed for all back-ends, and a GooglePlus specific authenticator should not have been necessary.

`client_id` and `client_secret` don't add any additional security for public clients (which Ember apps are) as they cannot be trusted to actually identify the client on the server side (once you deploy your app,`client_id` and `client_secret` are publicly available in the app's source) and especially using `client_secret` gives a false sense of security (even worse if the `client_secret` is used in a public client that secret must never be used anywhere else again as it's publicly accessible in the app's source - see above).

However, if you really want to/have to use `client_id` and `client_secret` you can easily extend the default OAuth 2.0 authenticator and override the `makeRequest` method to add these values, as [described e.g. here](https://github.com/simplabs/ember-simple-auth/issues/226#issuecomment-47429048).

The fields are designated as mandatory in the RFC. So it is about interoperability.

That part of the spec just makes no sense for public clients.

We had endless discussions around this topic and the solution is to make it easy to add if people want it (as described above) but don't implement it in the library.